<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://ultraq.net.nz/thymeleaf/layout">
<head>
	
	<!--Import Google Icon Font-->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
		rel="stylesheet">
	
	<!--Let browser know website is optimized for mobile-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	
	
	<!-- POR SER MVC PAGE, PRECISEI UTILIZAR DESSA FORMA PARA FUNCIONAR  -->
	<link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css}">
	
	<link rel="stylesheet" th:href="@{https://fonts.googleapis.com/icon?family=Material+Icons}" />	
	<link rel="stylesheet" th:href="@{/css/materialize.min.css}" media="screen,projection"/>	
	<link rel="stylesheet" th:href="@{/css/style.css}" />
	<link rel="stylesheet" th:href="@{/css/styleAluno.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/styleAnimation.css}">	
	<meta charset="UTF-8" />	
	<title> Alterar | Estudante </title>	
</head>

<body bgcolor="#90caf9">
	<nav>
	  <div class="nav-wrapper  #212121 grey darken-4">			
		 <a href="/ " class="brand-logo center"><i class="large material-icons">local_library</i>MindZone</a>
	  </div>
	</nav>		
	<div class="container">	 	        
	  <div class="row">	
	    <div class="container" id="container_imagem"> 
	       <label id="textoLista"> PESQUISA </label>
           <img  class="materialboxed" th:src="@{/images/01_students.jpg}" id="alunos">
         </div>
	     <div class="col s12 m15">	              
	       <div class="card-panel large">       
     		 <!-- INICIO FORM -->		
			  <div class="row">		
				 <div class="card-panel large"> 	 	 
						<div class="col s12 m5" style="background-color:#e0e0e0; 
												border-radius: 5px;
												border-style: solid; 
												border-width: 1px 1px; 
												border-color:#9e9e9e; ">
						 <form th:action="@{/aluno/busca}" method="get">						
  							 <input type="text" name="nome_aluno" maxlength= 20; placeholder="Busque por nome do aluno" />  	
  							 <button class="btn-floating waves-effect waves-light btn-small" type="submit" name="action" style="left:345px; top:-5px;">
   								<i class="material-icons">search</i>
  							</button>	  								
						 </form>
						</div>									
		     		 <table class="highlight bordered" id="lista_aluno">
		     			<thread>
		     			<tr>
		     			  <th>NOME</th>	
		     			  <th>CPF</th>	
		     			  <th>EMAIL</th>	
		     			  <th>MATRICULA</th>	
		     			  <th>CURSO</th>
		     			</tr>
		     			</thread>
		     			<tbody>
		     			<tr th:each="aluno : ${aluno}"> 			
			     			  <td><span th:text="${aluno.nome}" ></span></td>
			     			  <td><span th:text="${aluno.cpf}"></span></td>
			     			  <td><span th:text="${aluno.email}"></span></td>
			     			  <td><span th:text="${aluno.matricula}"></span></td>    
			     			  <td><span th:text="${aluno.curso.nome}"></span></td>     	
		     			  </tr>				
		     			</tbody>      			 	
		     		 </table><br>  
  		 			 <div class="container center" id="mensagem"> </div>
		     		 
		     	<!-- <div aria-label="Pagination-sm #4a148c purple darken-4" th:if="${aluno.totalPages gt 0 } " >
		          <ul class="pagination center">
					   <li class="page-item" th:classappend="${aluno.number eq 0} ? 'disabled'" >
			            <a class="page-link"
			               th:href="@{/aluno/busca?page={id}(id=${aluno.number lt 2 ? 1 : aluno.number})}"
			               aria-label="Previous" title="Anterior" data-toggle="tooltip">              
					    <i class="material-icons">chevron_left</i></a></li>
					    <li class="page-item" th:classappend="${i eq aluno.number + 1} ? 'active'"
			            th:each="i : ${#numbers.sequence( 1, aluno.totalPages, 1)}">
			            <a class="page-link" th:href="@{/aluno/busca?page={id}(id=${i})}" th:text="${i}"
			               th:title="${'Page '+ i}" data-toggle="tooltip">1</a></li>
					    
					    <li class="page-item" th:classappend="${aluno.number + 1 eq aluno.totalPages} ? 'disabled'">
			            <a class="page-link" th:if="${aluno.number + 1 < aluno.totalPages}"
			               th:href="@{/aluno/busca?page={id}(id=${aluno.number + 2})}"
			               aria-label="Next" title="Próximo" data-toggle="tooltip"><i class="material-icons">chevron_right</i></a></li>
		  	       </ul>
	          </div>  	-->					
			    <a href="/ ">
			      <button class="btn waves-effect waves-light #f44336 red btn-small" name="action">VOLTAR
			     	<i class="material-icons large right">keyboard_backspace</i>
			      </button>
			    </a>											
			  </div>						
			</div><!--FIM CLASS C/ FORM -->				
		</div><!-- class row CARD end -->	        
	  </div><!-- class-card-panel teal end -->
    </div><!-- class-col s12 m5 -end- -->
    <ul class="circles" style= "z-index:-1px;">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>		
  </div><!-- class-container-end -->	
  <footer class="page-footer #eceff1 blue-grey lighten-5">
	<div class="footer-copyright  #212121 grey darken-4">
		<div class="container center">
		  © 2022 Victória C. Belo 
		  <a href="https://github.com/Victoria-Belo"><i style="padding:12px; font-size:24px" class="fa">&#xf09b;</i></a>
		</div>		
	</div>
  </footer>
	<!--JavaScript at end of body for optimized loading-->
  <script type="text/javascript" src="js/materialize.min.js"></script>
  <script type="text/javascript">
  	 let x =  document.getElementById("lista_aluno").rows.length;
	 console.log(x) 	 
  	 testar()
  	 function testar(){
  		if (x < 2){
  	  		 //console.log(`conteudo: ` + tbl + ` tipo: ` + typeof(x))
  	  		 let resposta = document.getElementById("mensagem").innerText = "Aluno não encontrado!";
  	  		 console.log(resposta)
  	  	 }else{
  	  	    let resposta = document.getElementById("mensagem").innerText = " ";  	  		 
  	  	 }  	
  	 }
  </script>
</body>
</html>